  :root {
    --button-text-color: black; /* Default text color for light mode */
    --button-bg-color: linear-gradient(to right, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%) !important; 

    --button-shadow-color: rgba(0, 0, 0, 0.5);
  }
  
  [data-theme='dark'] {
    --button-text-color: white; /* Text color for dark mode */
    --button-bg-color: linear-gradient(to right, #ff0084 0%, #33001b 51%, #ff0084 100%) !important; 
    --button-shadow-color: rgba(255, 255, 255, 0.5);
  }
  
  .btnGrad {
    background-image: var(--button-bg-color); /* Use variable for background */
    margin: 10px;
    padding: 15px 40px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--button-text-color); /* Use variable for text color */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px var(--button-shadow-color);
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btnGrad:hover {
    background-position: right center;
    color: var(--button-text-color); /* Ensure it matches the mode */
  }
 
                       

