/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a01c63;
  --ifm-color-primary-dark: #901959;
  --ifm-color-primary-darker: #881854;
  --ifm-color-primary-darkest: #701445;
  --ifm-color-primary-light: #b01f6d;
  --ifm-color-primary-lighter: #b82072;
  --ifm-color-primary-lightest: #d02481;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00b4cc;
  --ifm-color-primary-dark: #00a2b8;
  --ifm-color-primary-darker: #0099ad;
  --ifm-color-primary-darkest: #007e8f;
  --ifm-color-primary-light: #00c6e0;
  --ifm-color-primary-lighter: #00cfeb;
  --ifm-color-primary-lightest: #0ae2ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.red-text {
  color: red;
}